<aside>
  <ul>
    <li>
      <a href="#" id="createNew" onclick="loadNote(this.id)"> <!--</a>"loadComponent('main-content', 'pages/home.html')"> -->
        <span class="icon-wrap">
          <img src="components/images/create_new.png" alt="icon" class="icon">
        </span>
        <span class="link-text">Create New</span>
      </a>
    </li>
    <li>
      <a href="#" id="dashboard" onclick="loadComponent('main-content', 'pages/dashboard.html')">
        <span class="icon-wrap">
          <img src="components/images/dashboard.png" alt="icon" class="icon">
        </span>
        <span class="link-text">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="#" id="myWork" onclick="loadComponent('main-content', 'pages/myWork.html')">
        <span class="icon-wrap">
          <img src="components/images/my_work.png" alt="icon" class="icon">
        </span>
        <span class="link-text">My Work</span>
      </a>
    </li>
    <li>
      <a href="#" id="reports" onclick="loadNote(this.id)">
        <span class="icon-wrap">
          <img src="components/images/reports.png" alt="icon" class="icon">
        </span>
        <span class="link-text">Reports</span>
      </a>
    </li>
    <li>
      <a href="#" id="investigationTools" onclick="loadNote(this.id)">
        <span class="icon-wrap">
          <img src="components/images/investigation.png" alt="icon" class="icon">
        </span>
        <span class="link-text">Investigation Tools</span>
      </a>
    </li>
    <li>
      <a href="#" id="configuration" onclick="loadNote(this.id)">
        <span class="icon-wrap">
          <img src="components/images/config.png" alt="icon" class="icon">
        </span>
        <span class="link-text">Configuration</span>
      </a>
    </li>
    <li>
      <a href="#" id="tags" onclick="loadNote(this.id)">
        <span class="icon-wrap">
          <img src="components/images/tags.png" alt="icon" class="icon">
        </span>
        <span class="link-text">Tags</span>
      </a>
    </li>
    <li>
      <a href="#" id="search" onclick="loadNote(this.id)">
        <span class="icon-wrap">
          <img src="components/images/search.png" alt="icon" class="icon">
        </span>
        <span class="link-text">Search</span>
      </a>
    </li>
  </ul>
</aside>
