<aside>
  <ul>
    <li><a href="#" onclick="loadComponent('main-content', 'pages/home.html')">Create New</a></li>
    <li><a href="#" id="dashboard" onclick="loadNote(this.id)">Dashboard</a></li>
    <li><a href="#" id="myWork" onclick="loadNote(this.id)">My Work</a></li>
    <li><a href="#" id="reports" onclick="loadNote(this.id)">Reports</a></li>
    <li><a href="#" id="investigationTools" onclick="loadNote(this.id)">Investigation Tools</a></li>
    <li><a href="#" id="configuration" onclick="loadNote(this.id)">Configuration</a></li>
    <li><a href="#" id="tags" onclick="loadNote(this.id)">Tags</a></li>
    <li><a href="#" id="search" onclick="loadNote(this.id)">Search</a></li>
  </ul>
</aside>